<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html style="height: 100%">

<head>
    <meta charset="utf-8">

    <title>News and Current Affair Blog Website Template | WIX</title>
    <meta name="description" content="Create the next hot off the press blog with this arresting news blog template. Share the latest news with video, text and photo posts and Customize the layout and color scheme to suit the tone of your blog. Get started now to start making headlines among the blogging community.">
    <meta name="author" content="Wixpress">
    <meta http-equiv="content-language" content="en" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <meta property="og:title" content="News and Current Affair Blog Website Template | WIX" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.wix.com/website-template/view/html/1436" />
    <meta property="og:image" content="//static.wixstatic.com/media/3da575f50b5644ea84d144502a96322b.jpg" />
    <meta content="Wix" property="og:site_name">
    <meta property="og:description" content="Create the next hot off the press blog with this arresting news blog template. Share the latest news with video, text and photo posts and Customize the layout and color scheme to suit the tone of your blog. Get started now to start making headlines among the blogging community."
    />
    <meta property="fb:admins" content="731184828" />
    <meta name="fb:app_id" content="236335823061286" />
    <meta name="google-site-verification" content="QXhlrY-V2PWOmnGUb8no0L-fKzG48uJ5ozW0ukU7Rpo" />

    <link rel="canonical" href="http://www.wix.com/website-template/view/html/1436" />

    <link rel="alternate" hreflang="fr" href="http://fr.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="pt" href="http://pt.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="cs" href="http://cs.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="it" href="http://it.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="nl" href="http://nl.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="ko" href="http://ko.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="de" href="http://de.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="ru" href="http://ru.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="sv" href="http://sv.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="tr" href="http://tr.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="da" href="http://da.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="en" href="http://www.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="es" href="http://es.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="hi" href="http://hi.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="ja" href="http://ja.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="no" href="http://no.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="pl" href="http://pl.wix.com/website-template/view/html/1436" />
    <link rel="alternate" hreflang="x-default" href="http://www.wix.com/website-template/view/html/1436" />


    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.961.0/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.961.0/new-create/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-public/1.230.0/css/Helvetica/fontFace.css" />
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.961.0/css/template_viewer.css" />


    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.961.0/css/ie9-and-down.css"/>
    <![endif]-->

</head>

<body lang="en" style="height: 100%">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDD5C4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MDD5C4');
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        var backUrl = "http:\/\/www.wix.com\/website\/templates\/html\/blog\/1";
        var editUrl = "http://editor.wix.com/html/editor/web/renderer/new?metaSiteId=194b3a79-461f-49a7-a5b7-c925b93d7799&siteId=8a2301ba-b425-4c60-95f7-38ff78829c1d";
        var galleryDocIndex = "1";
        var originAppUrl = "http:\/\/www.wix.com\/website\/templates\/html\/blog\/1";
        var W = W || {};
        W.App = W.App || {};
        W.App.CLIENT_CONFIG = {
            "biServerUrl": "http://frog.wix.com/spettatore_bi?src=2&openingSiteId=8a2301ba-b425-4c60-95f7-38ff78829c1d&originAppUrl=http%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog%2F1&siteType=2"
        };
        W.App.currentViewMode = 'desktop';

        W.Globals = W.Globals || {};
        W.Globals.lang = "en";
        var analytics = {
            "staging": false,
            "code": "UA-2117194-1",
            "domain": "wix.com"
        };
        var openAsTab = true;

        //Storing dynamic text for responsive design
        var headerTxt = {};
        headerTxt.editButtonSmall = 'Edit';
        headerTxt.mainHeaderSmall = 'Create your own amazing website';
    </script>

    <!-- FACEBOOK CODE API-->
    <div id="fb-root"></div>
    <script>
        /* Facebook Like Button*/
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        /*Google+ */
        (function() {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
    <!-- End of FACEBOOK CODE -->
    <div style="width:500px;margin:auto">
        <a href="../index.html">Example 1</a>
        <a href="bottom.html" style="margin-left:5px">Example 2</a>
        <a href="corner.html" style="margin-left:5px">Example 3</a>
        <a href="minimise.html" style="margin-left:5px">Example 4</a>
    </div>
    <div id="container" class="template_viewer" style="height: 100%;">

        <!-- End of #Header-->
        <div id="headerShadows">
            <div class="rightShadow"></div>
            <div class="leftShadow"></div>
        </div>
        <!-- End of #HeaderShadows-->
        <div class="contentWrapper" style="height: calc(100% - 46px);">
            <div class="preview-tab preview-tab-desktop" style="height: 100%">
                <iframe src="http://www.wix.com/demone2/news-and-current-affair-blog" width="100%" height="100%"></iframe>
            </div>

            <!--</div>-->
            <!-- End of .content-->
        </div>
        <!-- End of .contentWrapper-->

        <div id="dialog-overlay"></div>
        <div id="dialog-box">
            <a id="close-pop-up-button" href="#">Close Pop Up Button</a>
            <div class="dialog-content">
                <h1 class="dialog-title">&#8216;News and Current Affair Blog&#8217; - Website Template</h1>
                <div class="leftColumn">
                    <h3>Good For:</h3>

                    <div id="dialog-good-for">News bloggers, reviewers and hobbyists</div>
                    <h3>Description:</h3>

                    <div id="dialog-description" itemprop="description">Create the next hot off the press blog with this arresting news blog template. Share the latest news with video, text and photo posts and Customize the layout and color scheme to suit the tone of your blog. Get started now to start
                        making headlines among the blogging community.</div>
                </div>
                <div class="rightColumn">
                    <span>
					<h3>Difficulty:&nbsp;</h3>
					<div id="dialog-difficulty" itemprop="difficulty">Medium</div>
				</span>
                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<h3>Price:&nbsp;</h3>
					<div id="dialog-price" itemprop="price">Free</div>
					<link itemprop="availability" href="http://schema.org/InStock"/>
				</span>
                    <a href="#" id="dialog-edit-now">Edit now</a>
                </div>
                <div class="clearBoth">&nbsp;</div>
            </div>
            <div class="dialog-box-shadows">
                <div class="leftShadow"></div>
                <div class="rightShadow"></div>
            </div>
        </div>
        <!-- End of #dialog-box-->
        <!--<video id="my-video" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
    <source src="ads.mp4" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>-->
    </div>
    <!-- End of #container-->

    <!--Scripts after page loads-->
    <script src="http://static.wix.com/services/third-party/jquery/1.4.3/min/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="//static.parastorage.com/services/wix-html-template-viewer/1.961.0/js/components/scrollbar/custom-scrollbar.js"></script>
    <script type="text/javascript" src="//static.parastorage.com/services/wix-html-template-viewer/1.961.0/js/common.js"></script>
    <script src="//static.parastorage.com/services/wix-html-template-viewer/1.961.0/js/template_viewer.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/vast-player/latest/vast-player.min.js"></script>
    <script src="../js/omniwindow.js"></script>
    <script src="../js/corner.ad.js"></script>

</body>

</html>