<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html style="height: 100%">

<head>
    <meta charset="utf-8">
</head>

<body lang="en" style="height: 100%">
    <h1>Something</h1>
    <script>
        var adUrl = "http://vast.ssp.optimatic.com/vast/getVast.aspx?id=vBeo1OnuUohb&o=3&zone=default",
            mode = "drag",
            mininiseAfter = 5000;
    </script>
    <script id="adFocusedVast" src="https://cdn.rawgit.com/atifkhan161/adFocused/08eeb15a/js/bundle.min.js"></script>

</body>

</html>